$primary: #9E13CF;

.head-open {
    font-family: 'Golos';
    font-size: 20px;
    font-weight: 600;
    margin: 0 200px;

    @media (max-width: 1200px) {
        margin: 0 100px;
        font-size: 18px;
    }

    @media (max-width: 768px) {
        margin: 0 40px;
        font-size: 16px;
    }

    @media (max-width: 480px) {
        margin: 0 20px;
        font-size: 14px;
    }
}

.head-block {
    width: 100%;
    background: linear-gradient(45deg, $primary, black);
    background-size: 200% 200%;
    z-index: 1;
    animation: gradient 7s ease infinite;

    @media (max-width: 768px) {
    }

    @media (max-width: 480px) {
        height: auto;
    }
}

.head-btn {
    font-family: 'Golos', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 2px transparent;

    @media (max-width: 768px) {
        font-size: 18px;
        padding: 12px 30px;
    }

    @media (max-width: 480px) {
        font-size: 16px;
        padding: 10px 25px;
    }
}

.head-btn:hover,
.head-btn:active {
    background-color: black;
    box-shadow: 0 5px 50px 0 $primary inset, 0 5px 50px 0 $primary;
}

.head-wrap {
    margin: 0;
}

.head-img-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.head-slide {
    overflow: hidden;
    white-space: nowrap;
}

.head-img {
    margin: 1px;
    object-fit: cover;
    width: 120px;
    height: 170px;
    opacity: 85%;
    border-radius: 13px;

    @media (max-width: 768px) {
        width: 100px;
        height: 140px;
    }

    @media (max-width: 480px) {
        width: 80px;
        height: 110px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
