.plot {
    margin-left: 135px;
    text-align: start;
    color: white;
    margin-top: 70px;
    
}



.plot-title {

    font-family: 'Golos';
    font-weight: 600;
    font-size: 40px;
    
}

.plot-desc {
    margin-top: 30px;
    line-height: 27px;
    color: #808080;
    font-family: 'Golos';
    font-weight: 600;
    font-size: 17px;
    margin-right: 700px;
    margin-bottom: 60px;
    
    
}

.info {
    position: absolute;
    margin-left: 935px;
    margin-right: -100px;
    text-align: start;
    color: white;
    margin-top: -675px;
    
}



.info-title {
    
    font-family: 'Golos';
    font-weight: 600;
    font-size: 40px;
    
}

.info-desc {
    margin-top: 32px;
    
    
    color: #808080;
    font-family: 'Golos';
    font-weight: 600;
    font-size: 18px;
    // margin-right: 600px
    
    
}

.info-ans {
    margin-top: -29px;
    margin-left: 120px;
    color: white;
    font-family: 'Golos';
    font-weight: 600;
    font-size: 18px;
}