$primary: #9E13CF;

.auth-full {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.auth-reg-title {
    margin-top: 60px;
    margin-bottom: 0;
    color: white;
    font-family: 'Golos Text';
    font-weight: 600;
    font-size: 40px;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 28px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}

.auth-email,
.auth-password {
    width: 100%;
    margin-top: 30px;

    @media (max-width: 600px) {
        margin-top: 20px;
    }
}

.auth-btn {
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    width: 100%;
    max-width: 350px;
    height: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 1;
    border-radius: 50px;
    border: 3px solid $primary;
    outline-color: $primary !important;

    @media (max-width: 600px) {
        font-size: 18px;
        height: 60px;
    }
}

.auth-btn:hover {
    background-color: black;
    box-shadow: 0 5px 50px 0 $primary inset, 0 5px 50px 0 $primary;
    border-color: $primary;
}

.auth-footer {
    margin-top: 70px;
}
