$primary: #9E13CF;

/* === Контейнер фильма === */
.film-cont {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: start;
    height: 530px;
    background: linear-gradient(0deg, $primary, black);
    background-size: 200% 200%;
    z-index: 1;
}

.film-info {
    z-index: 3;
    width: 700px;
    height: 540px;
    margin-left: 135px;

    color: white;


}

.film-blur {
    position: absolute;
    width: 700px;
    height: 540px;
    background-color: black;
    filter: blur(20px);
}

.film-title {
    margin-top: 110px;
    font-family: 'Golos';
    font-weight: 600;
    font-size: 40px;
}

.film-rate-date {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.film-rate {
    color: $primary;
    font-family: 'Golos';
    font-size: 17px;
    font-weight: 500;
}

.film-year {
    color: #808080;
    font-family: 'Golos';
    font-size: 17px;
    font-weight: 600;

}

.film-genres,
.film-description {
    margin-top: 20px;
    color: white;
    font-family: 'Golos';
    font-size: 17px;
    font-weight: 600;

}

.film-description {
    padding-right: 202px;
}

.film-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 32px;
}

.film-btn {
    width: 350px;
    height: 70px;
    background-color: black;
    border-radius: 50px;
    border: 3px solid $primary;
    font-family: 'Golos';
    font-size: 20px;
    font-weight: 600;
    outline-color: #9E13CF !important;
    cursor: pointer;
}

.film-btn:hover {
    background-color: black;
    box-shadow: 0 5px 50px 0 $primary inset, 0 5px 50px 0 $primary;
    border-color: $primary;
}


