$primary : #9E13CF;



.profile-btn {
    font-family: 'Golos';
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    width: 100%;
    max-width: 850px;
    height: 100px;
    margin: 40px auto 0 auto;
    z-index: 1;
    border-radius: 50px;
    border: 3px solid $primary;
    outline-color: $primary !important;
    display: block;
    text-align: center;

    &:hover,
    &:active {
        background-color: black;
        box-shadow: 0 5px 50px 0 $primary inset, 0 5px 50px 0 $primary;
        border-color: $primary;
    }

    // Medium screens (tablets)
    @media (max-width: 992px) {
        height: 90px;
        font-size: 18px;
    }

    // Small screens (phones)
    @media (max-width: 768px) {
        height: 80px;
        font-size: 16px;
        max-width: 90%;
    }

    // Extra small screens
    @media (max-width: 480px) {
        height: 70px;
        font-size: 15px;
        max-width: 95%;
    }
}



.profile-full {
    // position: relative;
    margin-top: 60px;
    margin-bottom: 100p
}

.profile-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // или flex-start если нужно сверху
    padding: 20px;
}