.cabinet-title {

    font-family: 'Golos';
    font-weight: 600;
    // font-size: 40px;
    margin-left: 135px;
    text-align: start;
    color: white;
    margin-top: 70px;
    
}

.info-cabinet {
    // position: absolute;
    margin-left: 135px;
    text-align: start;
    color: white;

}

.info-title {
    margin-top: 30px;
    font-family: 'Golos';
    font-weight: 600;
    // font-size: 40px;
}

.info-ans {
    margin-top: -39px;
    margin-left: 130px;
    font-family: 'Golos';
    font-weight: 500;
    // font-size: 40px;
}

.email-cabinet-title {
    position: absolute;
    font-family: 'Golos';
    font-weight: 600;
    // font-size: 40px;
    margin-left: 145px;
    text-align: start;
    color: white;
    margin-top: 70px;
    
}