$primary: #9E13CF;

.faq-block {
    margin: 60px auto;
    padding: 30px 25px;
    border: 7px solid $primary;
    border-radius: 30px;
    background-color: black;

    @media (max-width: 768px) {
        padding: 25px 20px;
        border-radius: 25px;
    }

    @media (max-width: 480px) {
        padding: 20px 15px;
        border-radius: 20px;
    }
}

.faq-question {
    color: #DCDCDC;
    font-family: 'Golos Text';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.faq-answer {
    color: #DCDCDC;
    font-family: 'Golos Text';
    font-weight: 500;
    font-size: 18px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}
